{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'posts/css/estilos.css' %}">

</head>
<body>
    <header class="site-header">
        <h1>Mi Blog</h1>
        <nav class="site-nav">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'lista_posts' %}">Posts</a>
            <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
    </header>
    <main class="site-main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="site-footer">
        <p>Creado con Django por Mario Diaz</p>
    </footer>
</body>
</html>